<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="./../assets/app.css">
</head>

<body>
    <div class="content">
        <img src="./../assets/stadia.ico">
        <span>
            <strong>Stadiapp</strong> is an unofficial standalone application developed by <a class="link"
                onclick="shell.openExternal('https://github.com/x0uter')">André</a>.
        </span>
        <p>Version: <span id="version"></span></p>
        <p>Release Date: <span id="releaseDate"></span></p>
        <p>More info: <a id="link" class="link">GitHub</a></p>
    </div>
</body>
<script src="./../assets/app.js"></script>

</html>